@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: #00CED1;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.menu-logo {
  height: 72px;
  border-radius: 50%;
}

.menu-nav {
  display: flex;
  gap: 32px;
}

.menu-nav-item {
  font-family: 'Raleway', sans-serif;
  color: #2b261e;
  font-weight: 400;
  font-size: 25px;
}

.menu-nav-item:hover {
  color: #fffaf4;
  transition: 0.5s;
}

.main {
  margin-bottom: 48px;
  border-top: 0.4px solid #ffffff;
}

.main-content {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-content-escrita {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content-titulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ffffff;
}

.main-content-subtitulo {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2b261e;
}

.main-content-button {
  background-color: #ffffff;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2b261e;
}

.main-content-button:hover {
  color: #ffffff;
  background-color: #2b261e;
  transition: 0.5s;
  cursor: pointer;
}

.main-content2 {
  border-top: 0.4px solid #ffffff;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.main-content2-escrita2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content2-titulo2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ffffff;
}

.main-content2-paragrafo2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2b261e;
}

.main-content3 {
  border-top: 0.4px solid #ffffff;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-content3-escrita3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content3-titulo3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ffffff;
}

.main-content3-paragrafo3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2b261e;
}

.rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 0.4px solid #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.rodape-titulo {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.rodape-paragrafo {
  color: #2b261e;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}